@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    font-size: 62.5%;
}
body,td,th,input,button{
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5;
    font-weight: 300;
    font-size: 1.8rem;
    color: #333333;
}

// @each $vw in(
//     576px 1.2,
//     768px 1.4,
//     991px 1.6
// ){
//     @media screen and (min-width: #{nth($vw,1)}){
//         body,td,th,input,button{
//             font-size: 10px*nth($vw,2);
//         }
//     }
// }